out/**
build/**
build/java/bin/api-ms-win-core-console-l1-1-0.dll
build/java/bin/api-ms-win-core-console-l1-1-0.dll
build/java/bin/api-ms-win-core-console-l1-1-0.dll
build/java/bin/api-ms-win-core-console-l1-1-0.dll
build/java/bin/api-ms-win-core-console-l1-1-0.dll
build/java/bin/api-ms-win-core-console-l1-1-0.dll
build/java/bin/api-ms-win-core-datetime-l1-1-0.dll
build/java/bin/api-ms-win-core-debug-l1-1-0.dll
build/java/bin/api-ms-win-core-errorhandling-l1-1-0.dll
build/java/bin/api-ms-win-core-file-l1-1-0.dll
build/java/bin/api-ms-win-core-file-l1-2-0.dll
build/java/bin/api-ms-win-core-file-l2-1-0.dll
build/java/bin/api-ms-win-core-handle-l1-1-0.dll
build/java/bin/api-ms-win-core-heap-l1-1-0.dll
build/java/bin/api-ms-win-core-interlocked-l1-1-0.dll
build/java/bin/api-ms-win-core-libraryloader-l1-1-0.dll
build/java/bin/api-ms-win-core-localization-l1-2-0.dll
build/java/bin/api-ms-win-core-memory-l1-1-0.dll
build/java/bin/api-ms-win-core-namedpipe-l1-1-0.dll
build/java/bin/api-ms-win-core-processenvironment-l1-1-0.dll
